# Entornos virtuales y cachés
.venv/
__pycache__/
.ipynb_checkpoints/

# Datasets de esta sesión
raw/Visualizacion/laboratorios/G5-sesion6/USArrests.csv
raw/Visualizacion/laboratorios/G5-sesion9/heart.csv

*.csv
*.dat
